@page
@model FinalProjectEmsGems_1.Pages.ContactModel

@{
    ViewData["Title"] = "Contact Page";
}

<h1 class="text-center" style=" color: gold;">Contact Us</h1>

<p class="display-8 text-center" style="color: gold;">We would love to hear from you! Whether you have questions about our products, need assistance with an order, or just want to share your feedback, our team at Em's Gems is here to help.</p>
<p class="display-8 text-center" style="color: gold;">You can reach us through the following methods:</p>
<ul class="display-8 text-center" style="color: gold; list-style-position: inside;">
    <li>Email: contact@emsgems.com</li>
    <li>Phone: (123) 456-7890</li>
    <li>Address: 123 Gemstone Lane, Jewelry City, JC 45678</li>
</ul>