@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-center" style=" color: gold;">@ViewData["Title"]</h1>

<p class="text-center" style="color: gold;">Use this page to detail your site's privacy policy.</p>
